@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Ubuntu:wght@300&display=swap');

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media only screen and (min-width: 600px){
  body{
    /* background-image: url("Images/bg.png"); */
  }
}

/* ******************* NAVBAR *****************  */
/* login page navbar */
.login-nav{
  margin-top: 25px;
  margin-left: 65px;
}
/* .Logo{
  margin-left: 20px;
  margin-top: 20px;
}

.CB{
  margin-top: 20px;
} */

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  margin-bottom: -18px;
}
.Logo{
  height: 60px;
  margin-top: -12px;
}
nav ul li{
  list-style-type: none;
    display: inline-block;
    padding: 7px 15px;
    margin: 12px 10px;
  /* text-decoration: none; */
}

.active-page {
  background-color: #7D5FBB;
  border-radius: 5px;
}

nav ul li a{
  
  color:white;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover{
  /* color:#7D5FBB; */
  /* text-decoration: none; */
  color: white;
}
hr{
  border: 2px solid #DEE5EE;
  margin-bottom: 0px;
}

.b2{
padding: 10px;
gap:10px;
border: 2px solid #FFFFFF;
border-radius: 10px;
background-color: black;
color:white;
font-size: 16px;
    margin-top: -16px
/* font-weight: bold; */
}

.login-icon{
  text-decoration: none;
  color: white;
  margin-top: -15px;
}
.login-icon:hover {
  color: white;
}

.admin-login-failed{
  color: white;
}

/* .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

.dropbtn {
  background-color:black;
  color: white;
  /* padding: 16px; */
  font-size: 20px;
  font-weight: bold;
  /* border: none; */
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
  padding: 4px 0px;
}

.dropdown-content li {
  /* width: 190px;
    height: 50px;
    border: 2px solid #8152BD;
    border-radius: 2px;
    margin: 10px;
    padding-top: 7px;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: #8760ba;
    color: white; */

    --c: #7D5FBB;
    color: var(--c);
    font-size: 16px;
    border: 0.2em solid var(--c);
    border-radius: 0.5em;
    width: 200px;
    /* height: 40px; */
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1.8em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 0.5em 1em; 
}

.dropdown-content li span {
  position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.dropdown-content li:hover {
  color: white;
  cursor: pointer;
}

.dropdown-content li:hover span {
  transform: translateY(0) scale(2);
}

.dropdown-content li span:nth-child(1) {
  --n: 1;
}

.dropdown-content li span:nth-child(2) {
  --n: 2;
}

.dropdown-content li span:nth-child(3) {
  --n: 3;
}

/* nav ul li span:nth-child(4) {
  --n: 4;
} */

.dropdown-content *:hover {
  /* border: 2px solid #8152BD; */
  /* background-color: #8152BD;
  color: white;
  border-radius: 2px;
  border: 2px solid #8152BD; */
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: #7D5FBB;
}
/* ******************* TITLE *****************  */

.home-section-1 h1{
  font-size: 44px;
  font-family: 'Roboto Flex', sans-serif;
font-family: 'Ubuntu', sans-serif;
  /* margin-bottom: 20px; */
  color: white;
  text-align: center;
  /* margin-left: 150px; */
}
.home-section-1 h4 {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
}

.home-section-1 p{
  margin-bottom: 40px;
  color: white;
  font-size: 20px;
}

.home-section-1{
  margin-top: 55px;
  
}

.home-section-1 img{
    /* margin: 0; */
    padding: 0;
    /* position: absolute; */
    /* left: 3%; */
    margin-left: 5%;
    margin-top: -10px;
}

/* .home-section-1 .mainImg{
  position: absolute;
width: 1568px;
height: 660px;
left: -63px;
top: 320px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.54) 78.11%), url(30-301242_beautiful-purple-moon-purple-moon-freetoedit-full-moon.png);


} */

 .marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
  background-color: #E3E3E3;
  color: black;

  
}
/*
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  
}
.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll 17.6422s linear 0s infinite;
  animation-play-state: running;
  animation-delay: 0s;
  animation-direction: normal;
} */

/*.home-section-1 .obj{
  z-index: 1;
}

.home-section-1 .obj3{
  margin-top: 420px;
  margin-left: 100px;
}

.home-section-1 .obj2{
  margin-left: 400px;
  margin-top: -100px;
}

.home-section-1 .obj1{
  margin-left: -50px;
}
*/

/* ******************* Features **************** */
#features h1{
  font-size: 44px;
  font-family: 'Roboto Flex', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-align: center;

  font-style: normal;
  font-weight: 500;

  /* identical to box height */
  
  letter-spacing: -0.02em;
  
  color: #FFFFFF;
  
}

.Line{
width: 280px;
height: 0px;
margin-left: auto;
    margin-right: auto;
border: 2px solid rgba(222, 229, 238, 0.58);
}
.frames{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: absolute;
  /* gap: 50px; */
  margin: 50px 20px;
  width: 1354px;
  height: 367px;
}
.team-frames {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: absolute;
  /* gap: 50px; */
  margin: 50px 20px;
  width: 1354px;
  height: 367px;
}

#features, #team{
	padding: 0 2rem;
    margin: 60px 20px 0px 20px;
}

.feature-box{
  padding: absolute;
	padding: 10%;
	text-align: center;
  padding-bottom: 7%;
}

.features-icons{

	color: plum;
	padding: 0 2rem 2rem;
}

.features-icons:hover{
	color: #ff00fb;
}

/* h3{
	font-size: 2.7rem;
	font-family: Montserrat-Medium;
  color: white;
} */

p{
	font-family: Ubuntu;
	color: white;
  font-size: 1.2rem;
}

.features img{
  margin-top: 100px;
  margin-left: -300px;
}

/* **************** TEAM MEMBERS ****************** */

#team h1{
  font-size: 44px;
  font-family: 'Roboto Flex', sans-serif;
font-family: 'Ubuntu', sans-serif;
  color: white;
  text-align: center;
  
  font-weight: 500;
  /* identical to box height */
  
  letter-spacing: -0.02em;
  
  color: #FFFFFF;
  
}


/* .teamSection{
  margin: 0 120px;
}


.member{
  border-radius: 50%;
  justify-content: center;
  height: 300px;
  display: inline;
  margin: 70px;
  padding: absolute;
  float: left;
}

.member:hover{
  border: 7px solid #fca8fb;
}

.team{
  font-size: 4rem;
  color: white;
  padding: 0 50px;
} */



  /* Card */

  .card-main {
    /* margin: 3rem 3rem 0 3rem; */
    width: 418px !important;
    height: 367px !important;
  }

  .card {
    width: 418px !important;
    height: 367px !important;
    border-radius: 18px;
  }

  .team-card-main {
    /* margin: 3rem 3rem 0 3rem; */
    width: 350px !important;
    height: 380px !important;
  }

  .team-card {
    width: 350px !important;
    height: 380px !important;
    border-radius: 18px;

    position: relative;
  }
  .team-card h3 {
    position: absolute;
    bottom: 70px;
    font-family: Montserrat;
    font-weight: 600;
  }
  .team-card h4 {
    position: absolute;
    bottom: 35px;
    font-family: 'Ubuntu', sans-serif;
  }

  .cardFront {
    background-image: url(./Images/Frame.png);
    background-size: cover;
  }

  .cardFront h3 {
    color: var(--title);
    font-family: 'Ubuntu', sans-serif;
  }

  .cardBack {
    padding: 25px;
  }

  .cardBack p {
    /* font-size: x-small; */
    text-align: justify;
    text-overflow: clip;
    font-family: Montserrat;
    color: #212121;
  }


/* ********************* MY FEED ****************** */
.searchCont{
  display: flex;
  justify-content: flex-start;
}
.search-bar{
  /* position: absolute; */
display: flex;
flex-direction: row;
align-items: center;
/* padding: 15px 20px; */
/* gap: 640px; */

width: 700px;
height: 40px;
left: 300px;
top: 160px;

background: rgba(233, 231, 231, 0.29);
border-radius: 5px;
}

.search-bar:hover{
  box-shadow: 1px 1px 20px white;
}

.search-icon{
  position: absolute;
    z-index: 2;
    right: 65px;
    background: top;
    border: none;
}

.search-icon:hover{
  box-shadow: 10px 5px 40px #c89ef5;
}

/* #searchBar {
  width: 400px;
} */

.cards{
  box-sizing: border-box;
top:300px;
left:220px;
width: 345px;
height: 380px;
padding:10px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(28, 26, 26, 0.81) 90.61%);
border: 1px solid #FFFFFF;
border-radius: 10px;

/* display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 30px;

width: 1014px;
height: 328px; */


}

.feedname{
  width: 131px;
height: 34px;
top: 240px;
left:220px;
margin:30px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 34px;
color: #FFFFFF;
}
.profile-icon{
  position: absolute;
  display: inline-block;
  right: 100px;
  top: 22px;
  background-color: transparent;
}

/* .loginImg{
  display: block;
  justify-content: center;
  margin: auto;
  height: 70px;
} */

.feed{
  width: 80%;
  /*margin-top: 200px;*/
  margin-left: 300px;
  margin-bottom: 100px;
}

.Trending{
  margin-top: 30px;
}

.feed h2{
  color: aliceblue;
  margin: 20px;
  display: inline-block;
}

.feed h5{
  display: inline;
  color: aliceblue;
  margin: 20px;
  margin-left: 650px;
  
}

.slick-slide > div{
    margin: 0 20px;
    border-radius: 50%;
    
}

.slick-list{
  margin: 0 -10px;
}

.BlogCard{
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 1014px;
  height: 328px; 
}

.img1{
  position: fixed;
  z-index: -1;
  top: -10px;
  left: -10px;
  /* transform: rotate(85deg); */
}

.img2{
  position: fixed;
  z-index: -1; 
  bottom: 0;
  right: -5px;
  /* transform: rotate(85deg); */
}


/******************* POPUPS ********************/
.popup{

  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 200px;
  border-color: #c89ef5;

}

.popup-inner{
  border-style: solid;
  border-width: 10px;
  border-color: #aa5bff;

  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 32px;
  max-width: 640px;
  background-color: rgb(141, 122, 161);
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.close-btn {
  padding: 2px;
  border-radius: 10%;
  border-color:  transparent;
  background-color: transparent;
  display: block;
  margin-bottom: 10px;
}

/*********************MY ACTIVITY ********************/
/* .myactivitybox{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 375px;

position: absolute;
width: 805px;
height: 59px;
left: 317px;
top: 305px;

} */


.search-bar2{
  position:relative;
  display: inline-block;
  width: 550px;
  height: 40px;
  border-radius: 25px;
  background:linear-gradient(#C69AF6,rgb(21, 2, 56));
  left: 450px;
  top: 250px;
}

.search-bar2:hover{
  box-shadow: 5px 5px 30px #c89ef5;
}
.search-icon2{
  position: relative;
  margin-top: 11px;
  margin-left: 20px;
  color: white;
}

.BCard{
  margin:60px;
}
/***********************FOOTER-blogPage*******************/
.footer{
  position: relative;
  margin-top:0px;
  margin-left: 530px;
  width:100%;
}
.footer-icon{
 margin: 30px;
 color: white;
}
.right-bar{
  position: absolute;
  margin-top: 300px;
  width:220px;
}
.left-bar{
  position: absolute;
  margin-top: 30px;
  margin-left: 1100px;
  color: white;
  width: 200px;
}
.container-content{
  width:90%;
  margin-left: 60px;
  margin-right: 260px;
  padding: 50px;
  color:white;
}
.container-head{
  position: relative;
  margin-left:  10px ;
  margin-top: 0px;
  width: 100%;
  text-align: left;
}
.container-head p{
  margin-left: 10px;
  color: white;
  font-size: 40px;
  text-align: left;
  margin-bottom: 0px;
}

.user-icon{
  color: white;
  position: relative;
  margin-top: 15px;
  margin-left: 150px;
}
.arrow{
  color: white;
  margin-top: 5px;
  margin-right: 17px;
}

.img3{
  position:relative;
  /* margin:19px 340px ; */
  border-radius: 20px;
  border-color: white;
  padding:20px;
  height:450px;
  width:100%;
}
.search-container{
}
.papercard{
  display: inline-block;
 }

                                       /* SEARCH PAGE*/
 .blogchips{
  margin-top: 30px;
  margin-left: -10px;
  display: flex;
flex-direction: row;
/* align-items: flex-start; */
flex-wrap: wrap;
flex-basis: 100px;
padding: 0px;
gap: 10px;
width:1000px;
/* width: 100px;
height: 182px; */
 }
/* .searchChip{
  width:280 ;
  height:50 ;
  background-color:white;
  color:black;
  padding:4px;
  font-size:20px;
  
}
 .header-search{
  position: relative;
  left:500px;
  width:90px;
  color: #C69AF6;
 }
 .search-bar3{
  position:relative;
  display: inline-block;
  width: 550px;
  height: 40px;
  border-radius: 25px;
  background:linear-gradient(#C69AF6,rgb(21, 2, 56));
  left: 450px;
  top: 100px;
}

.search-bar3:hover{
  box-shadow: 5px 5px 30px #c89ef5;
}

.search-container a{
  color:rgb(48, 206, 206);
  margin-left:420px;
  font-size: larger;
  text-decoration: none;
} */


/*************************LOGIN & SIGNUP PAGE*********************/

.loginPlanet{
  height: 800px;
  margin-top: -3%;
}
.ver-line{
  display: flex;
}
.vert-line{
  height: 760px;
  border-left: 5px solid #212121;
  width: 400px;
}
.Google-Button-cont{
  margin-top: 3;
}
.google-button{
  width: 353px !important;
    margin-top: 20px;
    /* margin: 20px; */
    margin-left: auto;
    margin-right: auto;
}
.form-cont{
    margin:20% 10% ;
    width: 400px;
  }

.credentials{
  background-color: white;
    color: #4F555A !important;
    border-radius: 5px;
    margin: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

  /********************AdminPage*************************/

.adminText{
  color: white;
  margin-left: 300px;
  margin-top: 130px;
  font-family: 'Montserrat';
}


.stats {
  /* background-color: rgba(255, 255, 255, 0.233); */
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-top: -20px;
  border: 8px solid transparent;
  padding-left: 50px;
  padding-right: 50px;
}

.stats-bar .column {
  color: white;
  margin-top: 40px;
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 3.5vw;

  width: 30%;
  height: 80%;

  background: #212121;
  box-shadow: 4px 4px 10px rgba(24, 24, 40, 0.5);
  border-radius: 35px;
}
@media screen and (max-width: 970px){
  .stats-bar .column {
    flex-direction: column;
  }
}
.stats-bar .column h4 {
  align-items: center;
  padding: 10px 0;

  width: 60px;
  height: 45px;

  background: #9747ff;
  border-radius: 20px;
}

.stats-bar .column h6 {
  text-transform: uppercase;
  font-family: Montserrat;
  width: max-content;
  font-size: 20px;
}

.stats-bar {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Montserrat-Medium;
  /* background-color: rgba(255, 255, 255, 0.233) ; */
}

.ApproveCard{
  margin: 20px 20px ;
  display: inline-block;
  align-items: center;
  padding: 0px;
}
.Admin-section{
  margin:30px 90px
}