.publishPost label{
    color: white ;
}
.publishPost input{
    color: white ;
}
.publishPost textarea{
    color: white ;
}
.publishPost span{
    color: white ;
}
.form-container label{
    color:white
}
.form-container input{
    color: white;
}
.form-container textarea{
    color: white;
}